div.answer {
  padding-left: 20px;  
  display: none;
  padding-bottom: 20px;
}

#footer_pic { 
    position: relative; 
    overflow: hidden; 
    background: url('../images/footer_3.jpg') no-repeat 50% 50%; 
    height: 300px;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
